$bannerImg: "/assets/users/images/hero/banner.jpg";

.hero_banner_container {
    .hero_banner {
        background-image: url($bannerImg);
        background-image: no-repeat;
        background-size: cover;
        height: 600px;
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        
        .hero_text {
            padding-left: 75px;

            span {
                font-size: 14px;
                text-transform: uppercase;
                font-weight: 700;
                letter-spacing: 4px;
                color: #008874;
            }

            h2 {
                font-size: 45px;
                text-transform: uppercase;
                font-weight: 700;
                letter-spacing: 4px;
                line-height: 52px;
                color: #000;
                margin: 10px 0;
            }

        }
    }
}

main {
    padding: 20px;
    background-color: #fff;
    margin: 20px 20px 0 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    border-spacing: 0;
}

table th, table td {
    border-bottom: 1px solid #ddd;
}

table th, table td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #008874;
    color: #fff;
    border: none;
}

td {
    border-left: none;
    border-right: none;
}

.cancel-button {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
    font-size: 1.2em;
}
.cancel-button:hover{
    background-color: #008874;
    color: #fff;
    border-radius: 5px;
    width: 30px;
    height: auto;
}

/* Modal styles */
.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 20px;
    border: 1px solid #888;
    width: 100%;
    height: 300px;
    max-width: 669px;
    border-radius: 10px;
    position: relative;
  }

  .slot-view, .branch-view{
    border: solid #000;
    border-radius: 5px;
    width: 300px;
    height: 235px;
    padding: 10px;
  }

  .slot-view p, .branch-view p{
    border-bottom: #aaa solid;
    border-bottom-width: thin;
    margin-top: 22px;
    font-size: larger;
  }
  
  .close {
    color: #aaa;
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    text-decoration: none;
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
  
  .modal-header h2 {
    margin: 0;
  }
  
  .modal-body {
    display: flex;
    justify-content: space-between;
  }
  
  .slot-info, .branch-info {
    width: 45%;
  }
  
  .slot-info div, .branch-info div {
    margin-bottom: 10px;
  }
  
  
