
.edit-form-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; // Ensure the modal appears above everything else
  
    .edit-container {
      width: 800px;
      background-color: #fff;
      padding: 0;
      box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
        7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  
      .edit-header {
        background-color: #008874;
        padding-top: 6px;
        padding-left: 10px;
        color: #fff;
        height: 45px;
        display: flex;
        align-items: center; // Center text vertically
      }
      .form-box {
        padding: 10px 35px;
      }
  
      .buttons-edit {
        margin: 0 20px 10px 0;
        display: flex;
        justify-content: flex-end;
  
        .btn-back {
          width: 90px;
        }
        .btn-update {
          margin-right: 15px;
          width: 90px;
          background-color: #008874;
          color: white;
          border: none;
          padding: 10px 20px;
          border-radius: 5px;
          cursor: pointer;
          font-size: 16px;
        }
      }
    }
  
    .account {
      margin: 10px 0;
      display: flex;
      justify-content: space-between;
      border-bottom: solid grey;
      border-bottom-width: thin;
    }
  
    .form-edit {
      display: grid;
  
      input {
        margin-top: 15px;
        width: 200px;
        height: 25px;
      }
  
      .edit-left {
        grid-column-start: 1;
      }
      .edit-right {
        grid-column-start: 17;
      }
  
      .form-field {
        margin-bottom: 10px;
  
        .input-fname {
          margin-left: 15px;
        }
        .input-phone {
          margin-left: 41px;
        }
        .input-email {
          margin-left: 43px;
        }
        .input-fb {
          margin-left: 15px;
        }
      }
    }
  }
  